.banner{
  background: url('http://wallpoper.com/images/00/38/10/15/leaves-bokeh_00381015.jpg') no-repeat;
  background-size: 100%;
  height: 456px;
  width: 1300px;
  margin: auto;
  display: inline-table;
  padding-bottom: 10px;
  padding-top: 10px;
  opacity: 0.7;

}


body {
  background-color:#CCC6B3;
  font-family: serif;
  color:#3B3933;
  text-align: center;
  font-size: 20px;
}
h1 {
  text-align: center;
  color:#1F1E1B;
  letter-spacing: 5px;
  line-height: 1px;
    font-variant: small-caps;

}

nav ul{
  font-variant: small-caps;
  font-size: 20px;
  word-spacing: 30px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-right: 35px;
  color: 1F1E1B;
}

h2 {
      text-align: center;
      color:#4A2E1D;

}


h3 {
  color:#615040;
}

a:link {
  color: #1C1710;
}


a:hover {
  color: #878376;
}

a:active {
  color: #52442F;
}

a:visited {
  color: white;
}

li {
  display: inline;
  letter-spacing: 4px;
}

<style>
#click  {
  width:20%,20%;
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
  margin-top: 30px;
  padding-right: 20px;

}



#footer  {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 0px;
  text-align: center;
  font-size: 15px;
  word-spacing: 20px;
  display: inline-block;
  border-top: 1px solid #1C1710
}

#blog {
    text-align: center;
    color:#3B3933;
    margin-left: 300px;
    margin-right: 300px;
}

</style>

object{
        text-align: center;

}

input[type="text"] {
    /* Flexibility */
    box-sizing: border-box;
    width: 100%;

    /* Styling */
    padding: .4em .55em;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: 0;
    border-radius: .25em;
    outline: none
}