body{
  font-family: 'Lora', serif;
}

/*Navigation Bar*/

.nav{
  background-color: rgba(36, 25, 25, 1);
  text-align: center;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}

.home_button img{
  float:left;
  height:8%;
  width:13%;
  margin-top: -11.3%;
}

.nav_buttons img{
  width:12%;
  height:10%;
}

/*Images*/

.kitty_picture{
  background-image: url('../images/kitty.jpg');
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  padding-bottom: 57%;
  margin:auto 0;
}

.top_picture{
   background-image: url('../images/hannah_picture.jpg');
   background-repeat:no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: scroll;
   padding-bottom: 45%;
   margin:auto 0;
}

.walk_picture{
   background-image: url('../images/walk.jpg');
   background-repeat:no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: scroll;
   padding-bottom: 45%;
   margin:auto 0;
}

.laugh_picture{
   background-image: url('../images/laugh_color_edited.jpg');
   background-repeat:no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: scroll;
   padding-bottom: 45%;
   margin:auto 0;
}

.portfolio_picture{
  background-image: url('../images/portfolio.jpg');
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  padding-bottom: 45%;
  margin:auto 0;
}

.resume_picture{
  padding-left: 30%;
  padding-right: 20%;
}

.headline{
  float:left;
  color:black;
  margin-left: 40px;
  margin-top: -50px;
}

.about_me{
  word-spacing: 1%;
  text-align: center;
  max-width: 100%;
  height: 100%;
  background-color: rgba(36, 25, 25, 1);
  padding: 1%;
}

.coming_soon{
  word-spacing: 1%;
  text-align: center;
  max-width: 100%;
  height: 100%;
  /*background-color: rgba(36, 25, 25, 1);*/
  padding: 1%;
}

.coming_soon h1{
  color:black;
}

.coming_soon h2{
  color:black;
}

h1{
  height: 20%;
  color:white;
  font-size: 4vw;
  font-weight: 400;
  font-family: 'Poiret One', cursive;
}

h2{
  text-align: center;
  color:white;
  font-size: 1.5vw;
  letter-spacing: .3vw;
  padding-left:15%;
  padding-right:15%;
  font-weight: 400;
  font-family: 'Poiret One', cursive;
}

.connect{
  text-align: center;
}

.social_media  {
  background-color: rgba(36, 25, 25, 1);
  word-spacing: 1.5vw;
  padding: 1%;
  text-align: center;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}

.social_media img{
  width:5vw;
  height:5vw;
}

h3 {
  color:#302E2A;
  text-transform: vertical;
}

a:link {
    color: white;
}

a:hover {
  color: grey;
}

a:active {
  color: #52442F;
}

a {
  text-decoration: none;
}


